/* for _app.tsx */

:root{ --text: #0e0c0c; --bg: #f0f0efee; --tag: #b3b3b3 }

@media(prefers-color-scheme: dark){
  :root { --text: #faf9efe5; --bg: #131313; --tag: #333333 }
}

*{ box-sizing: border-box; margin: 0; }

body{ color: var(--text); background: var(--bg); }

html{ overflow-x: hidden; }

@media(prefers-color-scheme: dark){
  html{ color-scheme: dark; }
}

/* shortcut classes */

.tt5050{ transform: translate(-50%, -50%); }

/* TabsTrigger */
.tatr[data-state="active"]{ border-bottom: 1px solid #262626; }
/* AccordionTrigger */
.at[data-state="open"] > .i{ transform: rotate(180deg); }
/* AccordionContent */
.ac[data-state="open"]{
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.ac[data-state="closed"]{
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes slideDown {
  from {height: 0; }
  to { height: var(--radix-accordion-content-height); }
}

@keyframes slideUp {
  from { height: var(--radix-accordion-content-height); }
  to { height: 0; }
}
/* dialog.overlay */
.do{ animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1); }
/* dialog.content */
.dc{ animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1); }

@keyframes overlayShow {
  from { opacity: 0;}
  to { opacity: 1; }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
